.navWrapper {
    height: 90px;
    width: 100%;
    position: fixed;

    nav {
        max-width: 980px;
        height: 90px;
        margin: 0 auto;
        border-bottom: solid 2px white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            position: relative;
            width: 92px;
            height: 42px;
            border: solid 2px white;

            span {
                position: absolute;
                bottom: -4px;
                color: white;
                font-family: gillSansReg;
            }



        }

        .links {
            width: 350px;
            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
                color: white;
                font-family: gillSansReg;

            }
            
            span {
                color: #ee4367;
            }



        }

    }
}

@media only all and (max-width: 980px){
    .navWrapper {
        nav {
            padding: 0 30px;
        }
    }
}
